.box{
	height: 25px;
	width:25px;
	background-color: green;


}
.right{
	float: right;
}

.left{
	float: left;
}


input[name='name']{
	border: red 1px solid;
}

.uploadPreview{
	width:105px;
	height:105px;
	margin-right: 5px;
	border: 1px solid tomato;
	transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);

}



.uploadPreview::after {
	content:'';
  border-radius: 5px;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
  opacity: 0;
  -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}






.uploadPreview:hover {
	border-radius: 5px;
	position:relative;
	box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.9);
	filter:drop-shadow(5px 5px 7px black);
    transform: scale(1.15, 1.15);
}

.decreaseBtn{
	display:block;
	width:25px;
	height:25px;
	background-color: #d62727;
}

.increaseBtn{
	display:block;
	width:25px;
	height:25px;
	background-color: #19a51b;

}

.selectionDiv{
	position:absolute;
	border: solid 2px goldenrod;
	z-index: 111;
	pointer-events:none;
}

#drawCanvas{
	border: 1px solid tomato;
}
