*{
 box-sizing:border-box;

}

/* @media print {
  *,
  *:before,
  *:after {
    color: #000 !important;
    text-shadow: none !important;
    background: transparent !important;
    -webkit-box-shadow: none !important;
            box-shadow: none !important;
  } */

.allContent{
	width:100%;
	display:flex;
}


.row{
	padding:5px;
	align-items:center;
	justify-content:center;
	width:100%;
	/*height:100%;*/
	max-width:1200px;
	display:inline-flex;
	border: 1px solid goldenrod;
}
.col {
	padding:5px;
	align-items:center;
	justify-content:center;
	width:100%;
	/*min-height:100%;*/
	max-width:1200px;
	display:inline-flex;
	border: 1px solid green;
	flex-direction:column;
}


/*.box{
	display:flex;
	border:1px solid mistyrose;
	padding:10px;
	font-size: 20px;
	width:20px;
	height:20px;
}*/


.wrap{
	flex-wrap:wrap;
}

.xsmall{
	width:12.5%;
}
.small{
	width:25%;
}
.medium{
	width:50%;
}
.large{
	width:75%;
}
.xlarge{
	width:85%;
}
.fullWidth{
	width:100%;
}

/*[class*="col-"] {
    width: 100%;
}*/
@media (max-width: 750px) {
.s-xsmall{
	width:12.5%;
}
.s-small{
	width:25%;
}
.s-medium{
	width:50%;
}
.s-large{
	width:75%;
}
.s-xlarge{
	width:85%;
}
.s-fullWidth{
	width:100%;
}
}
@media (min-width: 751px) {

/*.md-no-grow{
	flex-grow:4;
}*/

.md-xsmall{
	width:12.5%;
}
.md-small{
	width:25%;
}
.md-medium{
	width:50%;
}
.md-large{
	width:75%;
}
.md-xlarge{
	width:85%;
}
.md-fullWidth{
	width:100%;
}
}
@media (min-width: 1100px) {

.lg-xsmall{
	width:12.5%;
}
.lg-small{
	width:25%;
}
.lg-medium{
	width:50%;
}
.lg-large{
	width:75%;
}
.lg-xlarge{
	width:85%;
}
.lg-fullWidth{
	width:100%;
}
}



.center{
	justify-content:center;
		align-items:center;


}
.space{
	justify-content:space-around;
	align-content:space-around;


}
.start{
	justify-content:flex-start;
	align-items:flex-start;


}
.stretch{
	justify-content:stretch;
	align-items:stretch;


}

.end{
	justify-content:flex-end;
	align-items:flex-end;


}
.middle{
	align-content:center;
	align-items:center;


}
.top{
	align-content:flex-start;
	align-items:flex-start;

}
.bottom{
	align-content:flex-end;
	align-items:flex-end;
	margin-top: auto


}
.self-end{
	align-self:flex-end;
	margin-left:auto;
	margin-top:auto;
}
.self-center{
	align-self:flex-center;
}
.self-stretch{
	align-self:flex-stretch;
	min-height:100%;
}
.self-start{
	align-self:flex-start;
	margin-right:auto;
	margin-bottom:auto;
}

.little{
	height:25vh;
}

.short{
	height:50vh;
}
.tall{
	height:75vh;
}
ul{
	list-style: none
}

.quarter{
	min-height:25%;
}
.half{
	min-height:50%;
}
.giant{
	min-height:75%;
}
.full{
	min-height:100%;
}

